<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="favicon.ico"  type="image/x-icon"/>
    <title>师大书城(ShidaBookStore.com)</title>
    <meta name="keywords" content="师大网上书城,正品行货，品类齐全，文学、艺术、自然科学、数学、物理、高考教辅、历史、地理、语言、军事、政治、法律、化学"/>
    <meta name="description" content="师大网上书城,送货更准时、价格更超值、上新货更快,正品行货，品类齐全，文学、艺术、自然科学、数学、物理、高考教辅" />
    <link rel="stylesheet" href="/static/font/iconfont.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/base.css">

</head>
<body>

<!--头部工具条开始-->
<div class="toolbar">
    <div class="toolbar-in clearfix">
        <ul class="toolbar-left fl">
            <li><a href="#">网站导航<i class="iconfont icon-jiantou"></i></a></li>
            <li><a href="#">商家住入<i class="iconfont icon-jiantou"></i></a></li>
            <li><a href="#">客服服务<i class="iconfont icon-jiantou"> </i></a></li>
            <li><a href="#"><b class="iconfont icon-weizhi color-f60"></b>贵阳<i class="iconfont icon-jiantou"></i></a></li>
        </ul>
        <ul class="toolbar-right fr">
            <li><a href="#">登录</a></li>
            <li><a href="#" class="color-f60">注册有礼</a></li>
            <li><a href="./order.html">我的订单 <i class="iconfont icon-jiantou"></i></a></li>
            <li><a href="#">我的易购 <i class="iconfont icon-jiantou"></i></a></li>
            <li><a href="#">我的会员</a></li>
            <li><a href="#" class="color-f60"><b class="iconfont icon-gouwuche color-f60"></b>购物车 0 <i class="iconfont icon-jiantou"></i></a></li>
            <li><a href="#">支付宝</a></li>
            <li><a href="#">企业采购</a></li>
            <li><a href="#">手机商场 <i class="iconfont icon-jiantou"></i></a></li>

        </ul>
    </div>
</div>
<!--头部工具条结束-->

<!--头部开始-->
<div class="header">
    <div class="header-in">
        <div class="header-top">
            <h1 class="logo"><a href="#"><img src="images/logo.png" alt="logo"></a></h1>

            <div class="search">
                <form action="" class="clearfix">
                    <input type="text" class="fl" placeholder="平凡的世界">
                    <input type="submit" class="fl" value="搜索">
                    <i class="iconfont icon-sousuo"></i>
                </form>
                <ul>
                    <li><a href="#">儿童教育</a></li>
                    <li>|</li>
                    <li><a href="#" class="color-f60">新书5折抢</a></li>
                    <li>|</li>
                    <li><a href="#">文学</a></li>
                    <li>|</li>
                    <li><a href="#" class="color-f60">清华大学出版社</a></li>
                    <li>|</li>
                    <li><a href="#" class="color-f60">爆款畅销书7折</a></li>
                    <li>|</li>
                    <li><a href="#">郭敬明</a></li>
                    <li>|</li>
                    <li><a href="#">韩寒</a></li>
                    <li>|</li>
                    <li><a href="#">小说</a></li>
                </ul>
            </div>
        </div>


    </div>
</div>
<!--头部结束-->

<!--广告区域、轮播图开始-->
<div class="content">
    <div class="content-top">
        <img src="images/ad1.jpg" alt="">
    </div>
    <div class="content-bottom">
        <ul>
            <li><a href="#"><img src="images/ad2.jpg" alt=""></a></li>
            <li><a href="#"><img src="images/ad3.jpg" alt=""></a></li>
            <li><a href="#"><img src="images/ad4.jpg" alt=""></a></li>
            <li><a href="#"><img src="images/ad5.jpg" alt=""></a></li>
        </ul>
    </div>
</div>
<!--广告区域、轮播图结束-->
</body>
</html>